<!-- Navigaiton -->
    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="{% url 'naslovna:naslovna' %}" class="text-gray">Moje Dijete</a>
            </div>
            <div class="toggle-collapse">
              <div class="toggle-icons">
                <i class="fas fa-bars"></i>
              </div>
            </div>
            <div>
              <ul class="nav-items">
                <li class="nav-link">
                    <a href="#">Naslovna</a>
                </li>
                <li class="nav-link">
                    <a href="#">Vijesti</a>
                </li>
                <li class="nav-link">
                    <a href="#">Mame</a>
                </li>
                <li class="nav-link">
                    <a href="#">Trudnice</a>
                </li>
                <li class="nav-link">
                    <a href="#">Djeca</a>
                </li>
                <li class="dropdown">
                  <button class="dropbtn">Roditelji pitaju</button>
                  <div class="dropdown-content">
                    <a href="#">Pitanja</a>
                    <a href="#">Stručni tekstovi</a>
                  </div>
                </li>
                <li class="nav-link">
                    <a href="#">Recepti</a>
                </li>
                <li class="nav-link">
                    <a href="#">Blog</a>
                </li>
                <li class="nav-link">
                    <a href="#">O portalu</a>
                </li>
              </ul>
            </div>
            <div class="social text-gray">
              <a href="https://www.facebook.com/Moje-dijete-%C4%8Dasopis-za-roditelje-2261001020791333/" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </nav>
    <!-- Navigaiton end -->